[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/pack/davidvandebunte/start/vim-fugitive"]
	path = .vim/pack/davidvandebunte/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/davidvandebunte/start/ale"]
	path = .vim/pack/davidvandebunte/start/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/pack/davidvandebunte/start/vim-autotag"]
	path = .vim/pack/davidvandebunte/start/vim-autotag
	url = https://github.com/craigemery/vim-autotag
